* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1340px;
}

/*** NAV ***************************************************************************************/

nav {
    background-color: #212529;
}

.top-nav,
.bottom-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16rem;
}

/*** Top Nav **************************/
.top-nav {
    border-bottom: 1px solid #2c3237;
    padding-top: .4rem;
    padding-bottom: 1rem;
}

.top-nav img {
    width: 5.5%;
}

.top-nav a span {
    color: #bc8c4c;
    font-family: "Fira Sans", sans-serif;
    text-transform: uppercase;
    padding-right: .5rem;
}

.top-nav a span:hover {
    color: #886433;
    font-family: "Fira Sans", sans-serif;
}

.top-nav a {
    color: #adb5bd;
    font-family: "Fira Sans", sans-serif;
    font-weight: bold;
    font-size: .8rem;
}

/*** Bottom Nav**************************/

.bottom-nav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 3;
}

.left-nav ul li a {
    color: #ffffff;
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

.left-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.right-nav a {
    font-family: "Fira Sans", sans-serif;
    background-color: #bc8c4c;
    font-size: 1rem;
    color: #ffffffb3;
    padding: .5rem 1rem;
    border-radius: .2rem;
}

.right-nav a:hover {
    background-color: #a4783d;
    border-color: #9b713a;
}

.right-nav a:focus {
    box-shadow: 0 0 0 .2rem rgba(198, 157, 103, .5);
}

.burger-menu {
    display: none;
}

/*** NAV TABLET ***********************************************************************************************************************/

@media screen and (min-width:768px) and (max-width:1024px) {

    .top-nav,
    .bottom-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3rem;
    }

    /*** Top Nav **************************/
    .top-nav {
        border-bottom: 1px solid #2c3237;
        padding-top: .5rem;
        padding-bottom: .4rem;
    }

    .top-nav img {
        width: 6.5%;
    }

    /*** Bottom Nav**************************/

    .bottom-nav {
        padding-top: 1.5rem;
        padding-bottom: 1rem;
    }

    .left-nav ul li:first-letter {
        text-transform: uppercase;
    }

}

/*** NAV MOBILE ***********************************************************************************************************************/

@media screen and (min-width:320px) and (max-width:768px) {

    .bottom-nav {
        display: none;
    }

    .burger-menu {
        display: block;
    }

    .top-nav,
    .burger-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 .5rem;
    }

    .top-nav {
        padding: 0 1rem;
    }

    /*** Top Nav **************************/
    .top-nav {
        border-bottom: 1px solid #2c3237;
        padding-top: .5rem;
        padding-bottom: .6rem;
    }

    .top-nav img {
        width: 14%;
    }

    /*** Burger Menu**************************/

    .burger-menu {
        padding-top: .6rem;
        padding-bottom: .7rem;
        border-bottom: 2px solid #2c3237;
        display: flex;
        justify-content: right;
    }

    .burger-menu i {
        font-size: 2rem;
        color: #ffffff;
        border: 1px solid #464b4e;
        padding: 0 .8rem;
        border-radius: .2rem;
    }

}

/*** HEADER ****************************************************************************************************************************/

header {
    background-image: url("./assets/images/header.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.overlay {
    background-color: rgba(33, 37, 41, .85);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 1rem;
}

.overlay img {
    width: 13%;
    filter: drop-shadow(0 0 40px rgba(206, 212, 218, .4));
    padding-bottom: 2rem;
}

.overlay p {
    font-family: "Fira Sans", sans-serif;
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: bold;
    padding-bottom: .5rem;
}

.overlay h1 {
    font-family: "Fira Sans", sans-serif;
    font-size: 5.3rem;
    color: #ffffff;
    letter-spacing: -5px;
    padding-bottom: 2.5rem;
    font-weight: 700;
}

.book-a-table,
.overlay a {
    font-family: "Fira Sans", sans-serif;
    background-color: #bc8c4c;
    font-size: 1rem;
    color: #ffffffb3;
    padding: .7rem 1.3rem;
    border-radius: .2rem;
}

.overlay a:hover {
    background-color: #a4783d;
    border-color: #9b713a;
}

.overlay a:focus {
    box-shadow: 0 0 0 .2rem rgba(198, 157, 103, .5);
}

/*** HEADER TABLET ****************************************************************************************************************************/

@media screen and (min-width:768px) and (max-width:1024px) {

    .overlay {
        padding: 7.5rem 1rem;
    }

    .overlay img {
        width: 20%;
    }

    .overlay p {
        font-size: 1.06rem;
    }

    .overlay h1 {
        font-size: 3.8rem;
        letter-spacing: -1px;
    }

}

/*** HEADER MOBILE ****************************************************************************************************************************/

@media screen and (min-width:320px) and (max-width:768px) {

    .overlay {
        padding: 8rem 1rem;
    }

    .overlay img {
        width: 50%;
    }

    .overlay p {
        font-size: .9rem;
        padding-bottom: .2rem;
    }

    .overlay h1 {
        font-size: 2.2rem;
        letter-spacing: -1px;
        padding-bottom: 1.5rem;
    }

}

/*** ABOUT **********************************************************************************************/
.about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5.5rem 16rem;
    /* background-color: #212529; */
    gap: 2rem;
}

.about-section2-div {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: 100%;
}

.about-img-div {
    width: 50%;
    border-radius: .2rem;
}

.about-img-div img {
    border-radius: .2rem;
}

.about-info {
    width: 50%;
}

.about-info h3 {
    font-family: "Fira Sans", sans-serif;
    color: #bebebe;
    font-size: 1.06rem;
    font-weight: 400;
    padding-bottom: .3rem;
}

.about-info h2 {
    font-family: "Fira Sans", sans-serif;
    color: #444444;
    font-size: 2.06rem;
    padding-bottom: 1rem;
}

.about-info ul li {
    font-family: "Fira Sans", sans-serif;
    color: #c8cdd2;
    font-size: 1rem;
    padding-bottom: .5rem;
    letter-spacing: 1px;
}

.about-info p {
    font-family: "Fira Sans", sans-serif;
    font-size: 1rem;
    color: #7c7c7c;
    font-weight: 550;
}

.about-info ul li span {
    color: #7c7c7c;
    font-weight: bold;
    letter-spacing: 0;
}

.about-info ul {
    padding-bottom: 2.5rem;
}

.about-info a {
    font-family: "Fira Sans", sans-serif;
    background-color: #bc8c4c;
    font-size: .9rem;
    color: #ffffffb3;
    padding: .5rem .9rem;
    border-radius: .2rem;
}

/*** ABOUT TABLET **********************************************************************************************/
@media screen and (min-width:768px) and (max-width:1024px) {
    .about-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5.5rem 3rem;
        /* background-color: #212529; */
        gap: 2rem;
    }
}

/*** ABOUT MOBILE **********************************************************************************************/
@media screen and (min-width:320px) and (max-width:768px) {
    .about-section {
        flex-wrap: wrap;
        padding: 5.5rem 1rem 0 1rem;
        gap: 2rem;
    }

    .about-section2 {
        padding-bottom: 5rem;
        flex-direction: column-reverse;
    }

    .about-info {
        width: 100%;
    }

    .about-img-div {
        width: 45%;

    }

    .about-info h3 {
        font-size: 1rem;
        font-size: bold;
    }

    .about-info p {
        line-height: 1.5rem;
        font-size: 1rem;
    }

    .about-info ul li,
    .about-info a {
        font-size: 0.8rem;
    }

    .about-info h2 {
        font-size: 1.4rem;
    }

}

/*** DISHES ****************************************************************************************************/
.dishes-section {
    background-image: url("./assets/images/dishes/dishes-bg.png");
}

.overlay-dishes {
    background-color: rgba(255, 255, 255, .6);
    padding: 0 16rem;
    padding-bottom: 7rem;

}

.dishes-title {
    padding: 5rem 0;
}

.dishes-title h3 {
    font-size: 1.063rem;
    font-family: "Fira Sans", sans-serif;
    color: #b4b4b4;
    font-weight: 500;
}

.dishes-title h2 {
    font-size: 2.063rem;
    font-family: "Fira Sans", sans-serif;
    color: #444444;
}

.dishes-title {
    text-align: center;
}

.dish-top-div,
.dish-cart,
.dishes-carts {
    display: flex;
    justify-content: space-between;
}

.dishes-carts {
    align-items: center;
}

.dish-cart {
    gap: 1rem;
    padding: 1rem;
}

.dish-img-div {
    width: 15%;
    overflow: hidden;
    border-radius: .2rem;
}

.dish-info-div {
    width: 85%;
}

.dish-top-div {
    padding: .5rem 0 .8rem 0;
    border-bottom: 2px dotted #dee2e6;
}

.dish-top-div h2 {
    font-family: "Fira Sans", sans-serif;
    font-size: .9rem;
    color: #444444;
}

.dish-top-div p {
    font-family: "Fira Sans", sans-serif;
    color: #bc8c4c;
    font-weight: 700;
    font-size: 1rem;
}

.dish-bottom-div p {
    font-family: "Fira Sans", sans-serif;
    color: #a2a2a2;
    font-size: .8rem;
    padding: .8rem 0 .7rem 0;
    word-spacing: 1px;
}

/*** DISHES TABLET****************************************************************************************************/

@media screen and (min-width:768px) and (max-width:1024px) {
    .overlay-dishes {
        background-color: rgba(255, 255, 255, .6);
        padding: 0 3rem;
        margin-bottom: 5rem;
        padding-bottom: 7rem;
    }


    .dishes-carts {
        align-items: flex-start;
    }

    .dish-img-div {
        width: 30%;
        overflow: hidden;
        border-radius: .2rem;
    }

    .dish-top-div h2 {
        font-size: 1.1rem;
    }

    .dish-top-div p {
        font-size: 1.5rem;
    }

    .dish-bottom-div p {
        font-size: 1.1rem;
        padding: .8rem 0 .7rem 0;
        word-spacing: 1px;
    }

}

/*** DISHES MOBILE ****************************************************************************************************/

@media screen and (min-width:320px) and (max-width:768px) {
    .overlay-dishes {
        background-color: rgba(255, 255, 255, .6);
        padding: 0 1rem;
    }

    .dishes-carts {
        display: flex;
        flex-direction: column;
    }

    .dish-cart {
        gap: 1rem;
        padding: 1rem 0;
        padding-right: .5rem;
    }

    .dish-img-div {
        width: 25%;
        overflow: hidden;
        border-radius: .2rem;
    }

    .dish-info-div {
        width: 75%;
    }

    .dish-top-div h2 {
        font-size: 1rem;
    }

    .dish-top-div p {
        font-size: 1.2rem;
    }

    .dish-bottom-div p {
        font-size: .9rem;
        padding: .8rem 0 .7rem 0;
        word-spacing: 1px;
    }

}

/*** MAIN MENU ****************************************************************************************************/

.main-menu-section {
    background-image: url("./assets/images/main-menu/section.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* top: 0; */
}

.main-menu-overlay {
    padding: 0 16rem 5rem 16rem;
    background-color: #00000091;
}

/*** Title Menu************************************/
.title-main-menu {
    padding: 5rem 0;
}

.title-main-menu h3 {
    font-size: 1.163rem;
    font-family: "Fira Sans", sans-serif;
    color: #888073;
    font-weight: 600;
}

.title-main-menu h2 {
    font-size: 2.063rem;
    font-family: "Fira Sans", sans-serif;
    color: #ffffff;
}

.title-main-menu {
    text-align: center;
}

/*** Info Menu**********************/
.info-main-menu {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem 2.5rem;
    border-radius: .3rem;
}

.main-menu-cart {
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
    gap: 1rem;
    border-bottom: 2px dotted #dee2e6;
    width: 47%;
}

.info-main-menu h2 {
    font-family: "Fira Sans", sans-serif;
    font-size: 1rem;
    color: #212529;
    font-weight: 500;
    padding: 2rem 0 .5rem 0;
}

.info-main-menu p {
    font-family: "Fira Sans", sans-serif;
    color: #a2a2a2;
    font-size: 1rem;
    font-weight: 400;
    /* padding: .8rem 0 .7rem 0; */
    word-spacing: 1px;
    padding-bottom: 0rem;
}

.main-menu-price h3 {
    font-family: "Fira Sans", sans-serif;
    color: #bc8c4c;
    font-weight: 500;
    font-size: 1rem;
}

.booking-table {
    padding-top: 4rem;
    padding-bottom: 1rem;
    margin: 0 auto;
}

/*** MAIN MENU TABLET ****************************************************************************************************/

@media screen and (min-width:768px) and (max-width:1024px) {
    .main-menu-section {
        background-size: cover;
        background-position: top center;
    }

    .main-menu-overlay {
        padding: 0 3rem 5rem 3rem;
        background-color: #00000091;
    }

    /*** Title Menu************************************/
    .title-main-menu {
        padding: 5rem 0;
    }

    .title-main-menu h3 {
        font-size: 1.163rem;
    }

    .title-main-menu h2 {
        font-size: 2.063rem;
    }

    /*** Info Menu**********************/
    .info-main-menu {
        gap: 1.5rem;
        padding: 1rem 2.5rem;
        border-radius: .3rem;
        width: 48rem;
        margin: 0 auto;
    }

    .main-menu-cart {
        gap: 1rem;
        border-bottom: 2px dotted #dee2e6;
        width: 45%;
    }

    .info-main-menu h2 {
        font-size: 1.5rem;
        padding: 2rem 0 .5rem 0;
    }

    .info-main-menu h2 {
        font-size: 1.2rem;
        color: #212529;
        font-weight: 500;
        padding: 2rem 0 .5rem 0;
    }
    
    .info-main-menu p {
        font-size: 1.1rem;
        padding-bottom: .7rem;
        font-weight: lighter;
    }
    .main-menu-price h3 {
        font-weight: 500;
        font-size: 1.5rem;
    }

    .booking-table {
        padding-top: 4rem;
        padding-bottom: 1rem;
        margin: 0 auto;
    }

    .book-a-table{
        font-size: 1.2rem;
    }
}

/*** MAIN MENU TABLET ****************************************************************************************************/

@media screen and (min-width:320px) and (max-width:768px) {
    .main-menu-section {
        background-size: cover;
        background-position: top center;
    }

    .main-menu-overlay {
        padding: 0 3rem 5rem 3rem;
        background-color: #00000091;
    }

    /*** Title Menu************************************/
    .title-main-menu {
        padding: 5rem 0;
    }

    .title-main-menu h3 {
        font-size: 1.163rem;
    }

    .title-main-menu h2 {
        font-size: 2.063rem;
    }

    /*** Info Menu**********************/
    .info-main-menu {
        gap: 1.5rem;
        padding: 1rem 2.5rem;
        border-radius: .3rem;
        width: unset;
        margin: 0 auto;
    }

    .main-menu-cart {
        gap: 1rem;
        border-bottom: 2px dotted #dee2e6;
        width: 100%;
    }

    .info-main-menu h2 {
        font-size: 1.5rem;
        padding: 2rem 0 .5rem 0;
    }

    .info-main-menu h2 {
        font-size: 1.2rem;
        color: #212529;
        font-weight: 500;
        padding: 2rem 0 .5rem 0;
    }
    
    .info-main-menu p {
        font-size: 1.1rem;
        padding-bottom: .7rem;
        font-weight: lighter;
    }
    .main-menu-price h3 {
        font-weight: 500;
        font-size: 1.5rem;
    }

    .booking-table {
        padding-top: 4rem;
        padding-bottom: 1rem;
        margin: 0 auto;
    }

    .book-a-table{
        font-size: 1.2rem;
    }
}